SECRET_KEY_DJANGO='django-insecure-pkh$$si7q%y3k_%o6$&m#e#wntts^14k+kp+%p1vqt6m#r%qr#'
DEBUG=True
DATABASE_URL_DJANGO='postgresql://postgres:postgres@localhost:5432/mysite'
ALLOWED_HOST_FRONT=''
ALLOWED_HOST_BACK=''
CORS_ALLOWED_ORIGIN_FRONT=''
# CONFIG FOR SEND_EMAIL
EMAIL_HOST_USER='postmanpruebadrf@gmail.com'
EMAIL_HOST_PASSWORD='passwordpruebadrf;'
# CONFIG FOR CLOUDINARY
CLOUD_NAME='duobjlhl9'
API_KEY_CLOUDINARY='668237792194115'
API_SECRET_CLOUDINARY='VKXVPMmgTyjySQWoRrKyCy4TEd0'
